@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0 auto;
}

.heading {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 40px 64px 37px;
}

h1 {
    font-size: 20px;
    line-height: 24px;
    color: #152A41;
    margin-bottom: 5px;
}

h2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #606C82;
}

.bio {
    display: flex;
    padding: 57px 64px 37px 64px;
}

.bio-head {
    font-size: 11px;
    line-height: 13px;
    color: #152A41;
    margin-right: 109px;
}

.bio-p {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #44526C;
    width: 340px;
}

.edu {
    display: flex;
    padding: 0px 64px 37px 64px;
}

.edu-head {
    font-size: 11px;
    line-height: 13px;
    color: #152A41;
    margin-right: 72px;
}

.edu-univ {
    font-weight: 700;
    font-size: 11px;
    line-height: 150%;
    color: #44526C;
}

.edu-item {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #44526C;
    margin-top: 5px;
}

.edu-item::before {
    content: "— ";
}

.crs {
    display: flex;
    padding: 0px 64px 37px 64px;
}

.crs-head {
    font-size: 11px;
    line-height: 13px;
    color: #152A41;
    margin-right: 81px;
}

.crs-item, .crs-item-two {
    font-weight: 700;
    font-size: 11px;
    line-height: 150%;
    color: #44526C;
}

.crs-item-two {
    margin-top: 5px;
}

.exp {
    display: flex;
    padding: 0px 64px 37px 64px;
}

.exp-head {
    font-size: 11px;
    line-height: 13px;
    color: #152A41;
    margin-right: 66px;
}

.exp-title {
    font-weight: 700;
    font-size: 11px;
    line-height: 150%;
    color: #44526C;
}

.exp-item {
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #44526C;
    margin-top: 5px;
    list-style: none;
}

.exp-item li:before {
    content: "— ";
}

.contacts {
    display: flex;
    padding: 0px 64px 0px 64px;
}

.contacts-head {
    font-size: 11px;
    line-height: 13px;
    color: #152A41;
    margin-right: 94px;
}

.contacts-list {
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    color: #44526C;
}

a {
    text-decoration: none;
    color: #44526C;
}